<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NI EN PEDO | Imita o bebe</title>
    <link rel="icon" href="/images/ico.ico" type="image/x-icon ">
    <link rel=stylesheet href="styles/estilos2.css" type="text/css">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta name = viewport content = "width = device-width, initial-scale = 1.0, minimum-scale = 0.5 maximum-scale = 1.0" >
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  
</head>
<body id="bod" style="overflow:visible; 
width: 100%;
height:100%;
background-image: url(images/telon2.jpeg); 
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-origin: content-box;


 ">
   <header>
    <nav class="navbar navbar-expand-lg navbar-dark justify-content-between">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </button>
  
    <a class="navbar-brand " href="/">    
      <img src="/images/MARTINE.gif" width="40"height="40" class="d-inline-block align-top" alt=""> 
    </a>    
<div class="collapse navbar-collapse" id="navbarNavDropdown">
<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="/">  <span class="icon-home2"> </span> Inicio  </span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/participantes">  <span class="icon-users"></span>   Participantes  </a>
  </li>

  <li class="nav-item active dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="icon-pacman"> </span>
   Juegos
    </a> 
    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item text-light bg-dark active" href="/probabilidad"> ¿ Qué probabilidad hay ?</a>
      <a class="dropdown-item text-light bg-dark" href="/simondice"> Simon dice </a>
      <a class="dropdown-item text-light bg-dark" href="/imita"> Imita o bebe</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/tragos">  <span class="icon-glass2"> </span>  Tragos  </a>
  </li>
  <div id="menu">
    <div v-if="logueado">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" v-on:click="logout()">  <span class="icon-home2"> </span> Logout</a>
        </li>
      </ul>
    </div>
    <div v-else>
      <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/users/signin">  <span class="icon-home2"> </span> Login</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/users/signup">   Registrarse  </span></a>
      </li>
      </ul>
    </div>         
    
  </div>
</ul>
</div>
</nav>
</header>
        <div style="  position: absolute; 
        left: 4%; 
        top: 15%;
        display: block;  ">
       <a href="#ventana" class="btn btn-success" data-toggle="modal"> ¿De qué se trata el juego? </a>
       <div class="modal" tabindex="-1" role="dialog" id="ventana">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title">Imita o bebe</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <img src="/images/signo.png" style="width:60%; margin-left: 20%;"class="img-responsive center-block" alt="Cinque Terre">
               <p class="text-center">Se trata del famoso juego "digalo con mimica" consta en tomar la palabra que aparece en pantalla y actuar sin emitir sonido hasta que algun participante adivine. Caso contrario pierde y debe beber.</p>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
             </div>
           </div>
         </div>
       </div>
      </div>

<div id="app8">

    <div class="row m-0 bg-primaty justify-content-center aling-items-center vh-100" >
        <div  class="col-sm-6 "style= "background-color: rgba(0,0,0,0.5)">
            
       
              
        
            <div class="container m-3 text-center" style="top: 10%; position: relative;">
                <h1 style="font-size: 50px; margin-bottom: 30px;"class="lines-effect">Imita o bebe </h1> 
                <div id="mostrar" style=" visibility:hidden;">
                <h5 style="color: white;">Tu palabra es:</h5>
                <p id="palabra" style=" position:relative; text-align: center;font-size: 50px; color:white;">{{palabra}} </p>
               
 
                    <h3 id="countdown" style="position:relative; font-size: 60px; text-align: center;"></h3>
                
                </div>

                <div id="mostrar2" style=" visibility: hidden;">
                    <p style=" margin-top: 0; position:relative; text-align: center;font-size: 30px; color: white;">Bien hecho!Pasale el dispositivo al siguiente participante</p>
                </div>

                <button :disabled="deshabilitado" type="button" class="btn btn-light" @click="visibilidad(); elegirpalabra()"> Inicio </button>  
                <button :disabled="deshabilitado2"  type="button" class="btn btn-success" @click="detenerreloj()"> Hecho </button>  
                
            </div>

        </div>

    </div>

</div>









    <link href="https://fonts.googleapis.com/css2?family=Cousine&family=Montserrat:ital,wght@1,300&family=Source+Code+Pro:ital,wght@1,300&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/js/imita.js"></script>
    <script src="/js/menu.js"> </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>