<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NI EN PEDO | Participantes</title>
        <link rel="icon" href="/images/ico.ico" type="image/x-icon ">
        <link rel=stylesheet href="styles/estilos2.css" type="text/css">
        <link rel="manifest" href="/manifest.json">
        <link rel="stylesheet" href="styles/style.css">
        <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <meta name = viewport content = "width = device-width, initial-scale = 1.0, minimum-scale = 0.5 maximum-scale = 1.0" >
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        
    </head> 
        <body class="overflow-auto" style=" color: currentcolor;
            width: 100%;
            height:100%;
            background:  url(images/partis.jpg); 
            background-size: cover;
            background-position: center;
            box-shadow: inset 0 0 100px 150px rgba(0, 0, 0, .6); 
            
           ">

<header>
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="/">    <img src="/images/MARTINE.gif" width="40"height="40" class="d-inline-block align-top" alt=""> </a>
        
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="/">  <span class="icon-home2"> </span> Inicio  </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/participantes">  <span class="icon-users"></span>   Participantes  </a>
        </li>
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="icon-pacman"> </span>
         Juegos
          </a> 
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item text-light bg-dark" href="/probabilidad"> ¿ Qué probabilidad hay ?</a>
            <a class="dropdown-item text-light bg-dark" href="#"> Juego 2 </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tragos">  <span class="icon-glass2"> </span>  Tragos  </a>
        </li>
       
      </ul>
    </div>
  </nav>
  </header>

       
  <div class="aloo"> 
     <div id="app">
          
            
        <div class="container mt-3">

            

            <h1>Ingrese el nombre de los participantes</h1>
            <input placeholder="Nombre participante" type="text" class="form-control my-3" v-model="nuevoparticipante" @keyup.enter="agregarparticipante">
           <div id="cont">
            <button  class="btn btn-success" @click="agregarparticipante">Agregar</button>
            </div>

        
            
            
            <div  class="mt-3" v-for="(nombre,index) of nombres">
                    <div  class="alert alert-dark" role="alert">
                        <div  class="d-flex justify-content-between">

                            <div>
                                {{nombre.nombre}}
                            </div>

                            <div>  
                                <button class="btn btn-dark" @click="borrar(index)">X</button>
                            </div>

                        </div>

                    </div>

             

        </div>



           <!-- <ul>
                <li class="alert alert-primary mt-3" v-for="nombre of nombres">{{nombre.nombre}}
                    <div class=" d-flex justify-content-end ">
                <button class="btn btn-success">Editar</button><button class="btn btn-danger">X</button> </div> </li>
            </ul> 
                -->
           
            
             </div>


     </div>
      </div>

                    

            
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
         
        <script src="/js/nom.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        </body>
   
</html>