<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NI EN PEDO | ¿Qué probabilidad hay?</title>
        <link rel="icon" href="/images/ico.ico" type="image/x-icon ">
        <link rel=stylesheet href="/styles/estilos2.css" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <meta name = viewport content = "width = device-width, initial-scale = 1.0, minimum-scale = 0.5 maximum-scale = 1.0" > 
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    </head> 
        <body id="bod" style="overflow:visible; color: currentcolor;
        width: 100%;
        height:100%;
        background: url(/images/probass.jpg); 
        background-size: cover;
        background-position: center;
     
         ">

<nav class="navbar navbar-light navbar-expand-lg"style="background-color: gray; position: absolute; z-index: 1; width: 100%; margin-top:-30px">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
    <img src="/images/MARTINE.gif" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <div class="collapse navbar-collapse  justify-content-center" id="navbarTogglerDemo01">
    <div class="navbar-nav">
      <a class="nav-item nav-link" style="color: white" href="/">Inicio</a>
      <a class="nav-item nav-link" style="color: white" href="/participantes">Participantes</a>
      <a class="nav-item nav-link" style="color: white" href="/probabilidad">¿Qué probabilidad hay?</a>
      <a class="nav-item nav-link" style="color: white" href="/tragos">Tragos</a>
    </div>
  </div>
</nav>
      
      <div id="app2">

       <div class="container mt-3 text-center"> 

                    <h1 class="lines-effect">¿Qué probabilidad hay? </h1> 
                       
            <div  class="form-group container text-center">
               
                         <div id="cont" class="container mt-1 text-center">
                          <button class="btn btn-success btn-lg" @click="jugar()" >JUGAR</button>
                         </div>
                
                        <div id="cont2" style="display: none;">

                                <div  class="text-center" id="neon">
                          
                                      <p id="reto">Los participantes deben : {{reto}}</p>

                                </div>
                    
                                <h3>{{va}} debe elegir un numero del 1 al 3:</h3>
                                     <div id="elegirnum" class="container text-center ">
                                         <button type="button" class="btn btn-light" :disabled="deshabilitado1" @click="numelegido1(1)">1</button>
                                         <button type="button" class="btn btn-light" :disabled="deshabilitado1" @click="numelegido1(2)">2</button>
                                         <button type="button" class="btn btn-light" :disabled="deshabilitado1" @click="numelegido1(3)">3</button>
                                      </div>
                                 <h3>{{vari}} debe elegir un numero del 1 al 3</h3>
                                      <div id="elegirnum" class="container text-center ">
                                        <button type="button" class="btn btn-secondary" :disabled="deshabilitado2" @click="numelegido2(1)">1</button>
                                         <button type="button" class="btn btn-secondary" :disabled="deshabilitado2" @click="numelegido2(2)">2</button>
                                         <button type="button" class="btn btn-secondary" :disabled="deshabilitado2" @click="numelegido2(3)">3</button>
                                      </div>

                                <button class="btn btn-success btn-lg" @click="comparar()" style="margin-top: 10px; margin-bottom: 10px;">RESULTADO</button>

                 
                         </div>
                
            </div>

        </div>
      </div>

           


      <link href="https://fonts.googleapis.com/css2?family=Cousine&family=Montserrat:ital,wght@1,300&family=Source+Code+Pro:ital,wght@1,300&display=swap" rel="stylesheet">

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="/js/prob.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
        </body>
   
</html>