<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NI EN PEDO | Tragos</title>
        <link rel="icon" href="/images/ico.ico" type="image/x-icon ">
        <link rel=stylesheet href="/styles/tragos.css" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    </head> 
        <body style=" color: currentcolor;
        width: 100%;
        height:600px;
        background: #c0b2bc;
          /* fallback for old browsers */
          background: -webkit-linear-gradient(to right hsla(336, 6%, 33%, 0.671), hsl(317, 45%, 52%, 0.664)), url(/images/a.jpeg) 100%; 
          background: linear-gradient(to right, hsla(341, 10%, 49%, 0.493), rgba(124, 8, 91, 0.664)), url(/images/a.jpeg) 100%; 
          background-size: cover;
          background-attachment: fixed;
          position: relative;  
         ">



<nav class="navbar navbar-light navbar-expand-lg"style="background-color: gray; position: absolute; z-index: 1; width: 100%; margin-top:-30px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="/images/MARTINE.gif" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <div class="collapse navbar-collapse  justify-content-center" id="navbarTogglerDemo01">
      <div class="navbar-nav">
        <a class="nav-item nav-link" style="color: white" href="/">Inicio</a>
        <a class="nav-item nav-link" style="color: white" href="/participantes">Participantes</a>
        <a class="nav-item nav-link" style="color: white" href="/probabilidad">¿Qué probabilidad hay?</a>
        <a class="nav-item nav-link" style="color: white" href="/tragos">Tragos</a>
      </div>
    </div>
  </nav>

               
       
    <body>
     <div id="app3">
     

        <div class="container mt-3"> 
            <h1 class="lines-effect">Busca tu trago ideal </h1> 
            
         <div class="form-group">
           
       

        <input type="text" placeholder="Busque por ingrediente" required v-model="filterField" class="form-control"> 

      
         </div>
    

           <table class= "table table-hover table-dark table-bordered  ">
               <tr>
                   <th> Tipos tragos</th>
                   <th> Ingredientes    </th>
               </tr>
            <tr v-if="filter(trago)" v-for="trago in tragos">
                <td> {{trago.name}} </td>
                <td> {{trago.ing}} </td>
            </tr>

       
        
        </table>
        </div>   
        

   </div>

  
 


        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="/js/tragos.js"> </script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        </body>

</html>