<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NI EN PEDO | Tragos</title>
        <link rel="icon" href="images/ico.ico" type="image/x-icon ">
        <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
        <link rel="manifest" href="/manifest.json">
        <link rel=stylesheet href="styles/tragos.css" type="text/css">
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <meta name = viewport content = "width = device-width, initial-scale = 1.0, minimum-scale = 0.5 maximum-scale = 1.0" >
    </head> 
        <body style=" color: currentcolor;
        width: 100%;
        height:600px;
        background: #c0b2bc;
          /* fallback for old browsers */
          background: -webkit-linear-gradient(to right hsla(320, 11%, 95%, 0.671), rgba(151, 34, 151, 0.664)), url(images/a.jpeg) 100%; 
          background: linear-gradient(to right, hsla(60, 3%, 30%, 0.493), rgba(77, 27, 27, 0.664)), url(images/a.jpeg) 100%; 
          background-size: cover;
          background-attachment: fixed;
          position: relative;  
        
         ">
       <div style="  position: absolute; 
       right: 4%; 
       top: 15%;
       display: block;  ">
      <a href="/agregartrago"><button type="button" class="btn btn-danger">Agregar Trago</button></a>
     </div>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="/">    <img src="/images/MARTINE.gif" width="40"height="40" class="d-inline-block align-top" alt=""> </a>
        
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">  <span class="icon-home2"> </span> Inicio  </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/participantes">  <span class="icon-users"></span>   Participantes  </a>
        </li>
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="icon-pacman"> </span>
         Juegos
          </a> 
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/probabilidad"> ¿ Qué probabilidad hay ?</a>
            <a class="dropdown-item" href="#"> Juego 2 </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tragos">  <span class="icon-glass2"> </span>  Tragos  </a>
        </li>
      
      </ul>
    </div>
  </nav>
  </header>
  
  <div class="alo">
     <div id="app3">
     

        <div class="container mt-3"> 
            <h1 class="lines-effect">Busca tu trago ideal </h1> 
            
         <div class="form-group">
           
       

        <input type="text" placeholder="Busque por ingrediente" required v-model="filterField" class="form-control"> 

      
         </div>
    

           <table class= "table table-hover table-dark table-bordered  ">
               <tr>
                   <th> Tipos tragos</th>
                   <th> Ingredientes    </th>
               </tr>
            <tr v-if="filter(trago)" v-for="trago in tragos">
                <td> {{trago.nombre}} </td>
                <td> {{trago.ingredientes}} </td>
            </tr>

       
        
        </table>
        </div>   
        
     </div>
   </div>

  
 


        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="/js/tragos.js"> </script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        </body>

</html>