.contenedor-footer{
    background-color: #1d1c1c;
    padding: 40px 0 0px 0;
    margin:auto;
    overflow:auto;
    display:flex;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 17px;
    text-align: center;
  }
  
  .content-foo{
    text-align: center;
    font-size:small;
  }
  
  .content-foo h4 {
    color: white;
    border-bottom: 3px solid #a78fad;
    padding-bottom: 5px;
    margin-bottom: 7px;
    text-align: center;
    font-size: medium;
  
  }
  
  .content-foo p{
    color:white;
  }
  
  .titulo-final{
    text-align: center;
    font: 100px;
    columns: #9e9797;
    color: rgb(238, 229, 229);
    font-size: smaller;
    background-color: #1d1c1c;
    margin-bottom: 0%;
  }
  
  .titulo-final h2 {
    font-size:smaller;
    text-align: center;
    background-color: #000000;
    margin-bottom: -0.2%;
  }